<% @posts.reverse.each do |post| %>
  <section>
    <div class='post'>

      <h2><%= link_to post.title, post %></h2>
      <article>
        <p><%== post.body.gsub("\n", "<br>") %></p>
      </article>
      <footer>
        <p>By: Corinne <span><%= post.created_at.strftime("Posted: %B %d, %Y") %></span></p>
      </footer>

    </div>
  </section>
<% end %>


